.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button_ans {
  background-color: #4caf50; /* Green */
  margin: 15px;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}
.result {
  color: rgb(177, 90, 218);
  text-align: center;
  border-bottom: 2px solid aqua;
  display: inline;
}

input {
  border: 3px solid #555;
  height: 10vh;
  font-size: 20px;
}
